<a href="https://colab.research.google.com/github/onlyreynaldo/python-clustering-data/blob/main/Olist.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

# **Carregando os Dados**

## Tabela de Pedidos

In [13]:
df_orders = pd.read_csv('/content/drive/MyDrive/datasets/olist/olist_orders_dataset.csv', parse_dates=['order_approved_at'])
df_orders.head()

                           order_id  ... order_estimated_delivery_date
0  e481f51cbdc54678b7cc49136f2d6af7  ...           2017-10-18 00:00:00
1  53cdb2fc8bc7dce0b6741e2150273451  ...           2018-08-13 00:00:00
2  47770eb9100c2d0c44946d9cf07ec65d  ...           2018-09-04 00:00:00
3  949d5b44dbf5de918fe9c16f97b45f8a  ...           2017-12-15 00:00:00
4  ad21c59c0840e6cb83a9ceb5573f8159  ...           2018-02-26 00:00:00

[5 rows x 8 columns]

# Tabela de Item-Pedidos

In [14]:
df_order_items = pd.read_csv('/content/drive/MyDrive/datasets/olist/olist_order_items_dataset.csv')
df_order_items.head()

                           order_id  order_item_id  ...   price freight_value
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   58.90         13.29
1  00018f77f2f0320c557190d7a144bdd3              1  ...  239.90         19.93
2  000229ec398224ef6ca0657da4fc703e              1  ...  199.00         17.87
3  00024acbcdf0a6daa1e931b038114c75              1  ...   12.99         12.79
4  00042b26cf59d7ce69dfabb4e55b4fd9              1  ...  199.90         18.14

[5 rows x 7 columns]

# Tabela de Cadastro de Sellers

In [15]:
df_sellers = pd.read_csv('/content/drive/MyDrive/datasets/olist/olist_sellers_dataset.csv')
df_sellers.head()

                          seller_id  ...  seller_state
0  3442f8959a84dea7ee197c632cb2df15  ...            SP
1  d1b65fc7debc3361ea86b5f14c68d2e2  ...            SP
2  ce3ad9de960102d0677a81f5d0bb7b2d  ...            RJ
3  c0f3eea2e14555b6faeea3dd58c1b1c3  ...            SP
4  51a04a8a6bdcb23deccc82b0b80742cf  ...            SP

[5 rows x 4 columns]

# Criando a ABT de Classificação

In [17]:
# criando histórico da abt de trino
df_historico_abt_train = (
    df_order_items
    .merge(df_orders, on='order_id', how='left')
    .query('order_status == "delivered"')
    .query('order_approved_at >= "2017-01-01" & order_approved_at < "2018-07-01"')
    .merge(df_sellers, on='seller_id', how='left')
)
df_historico_abt_train.head()

                           order_id  order_item_id  ...     seller_city seller_state
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   volta redonda           SP
1  00018f77f2f0320c557190d7a144bdd3              1  ...       sao paulo           SP
2  000229ec398224ef6ca0657da4fc703e              1  ...   borda da mata           MG
3  00042b26cf59d7ce69dfabb4e55b4fd9              1  ...          loanda           PR
4  00048cc3ae777c65dbb7d2a0634bc1ea              1  ...  ribeirao preto           SP

[5 rows x 17 columns]

In [19]:
# criando as features
df_features_train = (
    df_historico_abt_train
    .query('order_approved_at < "2018-01-01"')
    .groupby('seller_id')
    .agg(uf = ('seller_state', 'first'),
         tot_orders_12m = ('order_id', 'nunique'),
         tot_items_12m = ('product_id', 'count'),
         tot_items_dist_12m = ('product_id', 'nunique'),
         receita_12m = ('price', 'sum'),
         data_ult_vnd = ('order_approved_at', 'max'))
    .reset_index()
    .assign(data_ref = pd.to_datetime('2018-01-01 00:00:00'))
    .assign(recencia = lambda df: (df['data_ref'] - df['data_ult_vnd']).dt.days)
)
df_features_train.head()

                          seller_id  uf  ...   data_ref  recencia
0  0015a82c2db000af6aaaf3ae2ecb0532  SP  ... 2018-01-01        74
1  001cca7ae9ae17fb1caed9dfb1094831  ES  ... 2018-01-01         2
2  002100f778ceb8431b7a1020ff7ab48f  SP  ... 2018-01-01         2
3  003554e2dce176b5555353e4f3555ac8  GO  ... 2018-01-01        16
4  004c9cd9d87a3c30c522c48c4fc07416  SP  ... 2018-01-01         8

[5 rows x 9 columns]

In [12]:
# df_orders = pd.read_csv('/content/drive/MyDrive/datasets/olist/olist_orders_dataset.csv', parse_dates=['order_approved_at'])
# Declarar nuevamente para hacer la operacion de la resta de los dias. Recordar que una vez hecho esto correr todo de nuevo.

In [20]:
df_features_train.sort_values('recencia', ascending=False).head()

                             seller_id  uf  ...   data_ref  recencia
1342  c9a06ece156bb057372c68718ec8909b  DF  ... 2018-01-01       350
456   436bf27f2f18474fc6047702e9f8a866  SP  ... 2018-01-01       347
1453  dd264199fc8b687ad029de7de6d760e6  PR  ... 2018-01-01       346
1589  f235413f677777a0738ff215d0184901  SP  ... 2018-01-01       342
880   822b63912576852aea9a8436d72317b7  SP  ... 2018-01-01       341

[5 rows x 9 columns]

In [21]:
# criando o target
(
    df_historico_abt_train
    .query('order_approved_at >= "2018-01-01" & order_approved_at < "2018-07-01"')
    .filter(['seller_id'])
    .drop_duplicates()
)

                              seller_id
2      5b51032eddd242adc84c38acab88f23d
6      a416b6a846a11724393025641d4edd5e
7      cc419e0650a3c5ba77189a1882b7556a
8      1f50f920176fa81dab994f9023523100
10     fcb5ace8bcc92f75707dc0f01a27d269
...                                 ...
93845  686886775c8f6b1191c7b953fb52708c
94206  83e197e95a1bbabc8c75e883ed016c47
95493  3e35a8bb43569389d3cebef0ce820f69
95641  4391ea5c5990502176a1dcda44a2373d
95682  777a0c55737f34ffeb78010f7542ab41

[1971 rows x 1 columns]

In [22]:
# criando o target
(
    df_historico_abt_train
    .query('order_approved_at >= "2018-01-01" & order_approved_at < "2018-07-01"')
    .filter(['seller_id'])
    .drop_duplicates()
    .query('seller_id == "c9a06ece156bb057372c68718ec8909b"')
)

Empty DataFrame
Columns: [seller_id]
Index: []

In [23]:
# criando o target
df_target_train = (
    df_historico_abt_train
    .query('order_approved_at >= "2018-01-01" & order_approved_at < "2018-07-01"')
    .filter(['seller_id'])
    .drop_duplicates()
)
df_target_train.head()

                           seller_id
2   5b51032eddd242adc84c38acab88f23d
6   a416b6a846a11724393025641d4edd5e
7   cc419e0650a3c5ba77189a1882b7556a
8   1f50f920176fa81dab994f9023523100
10  fcb5ace8bcc92f75707dc0f01a27d269

In [24]:
# criando a abt de fato
(
    df_features_train
    .merge(df_target_train, on='seller_id', how='left', indicator=True)
).head()

                          seller_id  uf  ...  recencia     _merge
0  0015a82c2db000af6aaaf3ae2ecb0532  SP  ...        74  left_only
1  001cca7ae9ae17fb1caed9dfb1094831  ES  ...         2       both
2  002100f778ceb8431b7a1020ff7ab48f  SP  ...         2       both
3  003554e2dce176b5555353e4f3555ac8  GO  ...        16  left_only
4  004c9cd9d87a3c30c522c48c4fc07416  SP  ...         8       both

[5 rows x 10 columns]

In [25]:
# criando a abt de fato
(
    df_features_train
    .merge(df_target_train, on='seller_id', how='left', indicator=True)
    .assign(churn_6m = lambda df: np.where(df['_merge'] == "left_only", 1, 0))
).head()

                          seller_id  uf  ...     _merge  churn_6m
0  0015a82c2db000af6aaaf3ae2ecb0532  SP  ...  left_only         1
1  001cca7ae9ae17fb1caed9dfb1094831  ES  ...       both         0
2  002100f778ceb8431b7a1020ff7ab48f  SP  ...       both         0
3  003554e2dce176b5555353e4f3555ac8  GO  ...  left_only         1
4  004c9cd9d87a3c30c522c48c4fc07416  SP  ...       both         0

[5 rows x 11 columns]

In [27]:
# criando a abt de fato
df_abt_churn_train = (
    df_features_train
    .merge(df_target_train, on='seller_id', how='left', indicator=True)
    # left_only = churn (1), both = não churn (0)
    .assign(churn_6m = lambda df: np.where(df['_merge'] == "left_only", 1, 0))
    .filter(['data_ref', 
             'seller_id',
             'uf',
             'tot_orders_12m',
             'tot_items_12m',
             'tot_items_dist_12m',
             'receita_12m',
             'recencia',
             'churn_6m'])
)
df_abt_churn_train.head()

    data_ref                         seller_id  ... recencia  churn_6m
0 2018-01-01  0015a82c2db000af6aaaf3ae2ecb0532  ...       74         1
1 2018-01-01  001cca7ae9ae17fb1caed9dfb1094831  ...        2         0
2 2018-01-01  002100f778ceb8431b7a1020ff7ab48f  ...        2         0
3 2018-01-01  003554e2dce176b5555353e4f3555ac8  ...       16         1
4 2018-01-01  004c9cd9d87a3c30c522c48c4fc07416  ...        8         0

[5 rows x 9 columns]

# Criando a ABT Out of Time (Validação ou Teste)

In [28]:
# criando histórico da abt de treino
df_historico_abt_oot = (
    df_order_items
    .merge(df_orders, on='order_id', how='left')
    .query('order_status == "delivered"')
    .query('order_approved_at >= "2017-02-01" & order_approved_at < "2018-08-01"')
    .merge(df_sellers, on='seller_id', how='left')
)
df_historico_abt_train.head()

                           order_id  order_item_id  ...     seller_city seller_state
0  00010242fe8c5a6d1ba2dd792cb16214              1  ...   volta redonda           SP
1  00018f77f2f0320c557190d7a144bdd3              1  ...       sao paulo           SP
2  000229ec398224ef6ca0657da4fc703e              1  ...   borda da mata           MG
3  00042b26cf59d7ce69dfabb4e55b4fd9              1  ...          loanda           PR
4  00048cc3ae777c65dbb7d2a0634bc1ea              1  ...  ribeirao preto           SP

[5 rows x 17 columns]

In [29]:
df_historico_abt_oot.agg({'order_approved_at': ['min', 'max']})

      order_approved_at
min 2017-02-01 02:35:18
max 2018-07-31 23:55:18

In [30]:
# criando as features
df_features_oot = (
    df_historico_abt_oot
    .query('order_approved_at < "2018-02-01"')
    .groupby('seller_id')
    .agg(uf = ('seller_state', 'first'),
         tot_orders_12m = ('order_id', 'nunique'),
         tot_items_12m = ('product_id', 'count'),
         tot_items_dist_12m = ('product_id', 'nunique'),
         receita_12m = ('price', 'sum'),
         data_ult_vnd = ('order_approved_at', 'max'))
    .reset_index()   
    .assign(data_ref = pd.to_datetime('2018-02-01 00:00:00'))
    .assign(recencia = lambda df: (df['data_ref'] - df['data_ult_vnd']).dt.days)
)
df_features_oot.head()

                          seller_id  uf  ...   data_ref  recencia
0  0015a82c2db000af6aaaf3ae2ecb0532  SP  ... 2018-02-01       105
1  001cca7ae9ae17fb1caed9dfb1094831  ES  ... 2018-02-01         2
2  002100f778ceb8431b7a1020ff7ab48f  SP  ... 2018-02-01        16
3  003554e2dce176b5555353e4f3555ac8  GO  ... 2018-02-01        47
4  004c9cd9d87a3c30c522c48c4fc07416  SP  ... 2018-02-01         0

[5 rows x 9 columns]

In [31]:
# criando o target
df_target_oot = (
    df_historico_abt_oot
    .query('order_approved_at >= "2018-02-01" & order_approved_at < "2018-08-01"')
    .filter(['seller_id'])
    .drop_duplicates()
)
df_target_oot.head()

                           seller_id
6   5996cddab893a4652a15592fb58ab8db
7   a416b6a846a11724393025641d4edd5e
8   ba143b05f0110f0dc71ad71b4466ce92
9   cc419e0650a3c5ba77189a1882b7556a
10  8602a61d680a10a82cceeeda0d99ea3d

In [32]:
# criando a abt out of time
df_abt_churn_oot = (
    df_features_oot
    .merge(df_target_oot, on='seller_id', how='left', indicator=True)
    # left_only = churn (1), both = não churn (0)
    .assign(churn_6m = lambda df: np.where(df['_merge'] == "left_only", 1, 0))
    .filter(['data_ref', 
             'seller_id',
             'uf',
             'tot_orders_12m',
             'tot_items_12m',
             'tot_items_dist_12m',
             'receita_12m',
             'recencia',
             'churn_6m'])
)
df_abt_churn_oot.head()

    data_ref                         seller_id  ... recencia  churn_6m
0 2018-02-01  0015a82c2db000af6aaaf3ae2ecb0532  ...      105         1
1 2018-02-01  001cca7ae9ae17fb1caed9dfb1094831  ...        2         0
2 2018-02-01  002100f778ceb8431b7a1020ff7ab48f  ...       16         0
3 2018-02-01  003554e2dce176b5555353e4f3555ac8  ...       47         1
4 2018-02-01  004c9cd9d87a3c30c522c48c4fc07416  ...        0         0

[5 rows x 9 columns]

# Verificando as Distribuições da Variável Target

In [33]:
df_abt_churn_train['churn_6m'].value_counts(normalize=True)

0    0.623669
1    0.376331
Name: churn_6m, dtype: float64

In [34]:
df_abt_churn_oot['churn_6m'].value_counts(normalize=True)

0    0.614404
1    0.385596
Name: churn_6m, dtype: float64

In [35]:
df_abt_churn_oot['churn_6m'].value_counts()

0    1109
1     696
Name: churn_6m, dtype: int64

In [36]:
df_abt_churn_train['churn_6m'].value_counts()

0    1054
1     636
Name: churn_6m, dtype: int64

# Salvando as ABTs

In [39]:
import joblib

joblib.dump(df_abt_churn_train, '/content/drive/MyDrive/datasets/olist/abt_classificacao_churn_train.pkl')

['/content/drive/MyDrive/datasets/olist/abt_classificacao_churn_train.pkl']

In [41]:
joblib.load('/content/drive/MyDrive/datasets/olist/abt_classificacao_churn_train.pkl')

       data_ref                         seller_id  ... recencia  churn_6m
0    2018-01-01  0015a82c2db000af6aaaf3ae2ecb0532  ...       74         1
1    2018-01-01  001cca7ae9ae17fb1caed9dfb1094831  ...        2         0
2    2018-01-01  002100f778ceb8431b7a1020ff7ab48f  ...        2         0
3    2018-01-01  003554e2dce176b5555353e4f3555ac8  ...       16         1
4    2018-01-01  004c9cd9d87a3c30c522c48c4fc07416  ...        8         0
...         ...                               ...  ...      ...       ...
1685 2018-01-01  ff82e8873fba613f2261a9acc896fd84  ...       25         0
1686 2018-01-01  ffdd9f82b9a447f6f8d4b91554cc7dd3  ...       34         0
1687 2018-01-01  ffeee66ac5d5a62fe688b9d26f83f534  ...        8         0
1688 2018-01-01  fffd5413c0700ac820c7069d66d98c89  ...        6         0
1689 2018-01-01  ffff564a4f9085cd26170f4732393726  ...      340         1

[1690 rows x 9 columns]

In [37]:
df_abt_churn_train.to_csv('/content/drive/MyDrive/datasets/olist/abt_classificacao_churn_train.csv', index=False)

In [38]:
df_abt_churn_oot.to_csv('/content/drive/MyDrive/datasets/olist/abt_classificacao_churn_oot.csv', index=False)