<a href="https://colab.research.google.com/github/onlyreynaldo/python-clustering-data/blob/main/Regressao_Logistica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

In [5]:
# carregando a tabela de dados
dados = pd.read_csv('/content/drive/My Drive/datasets/consorcio.csv', sep=';')
dados.head()

     fundo_di  financiamento   poupanca    salario        cc  y
0   2953763.0    492379768.0    64868.0  9094336.0  539057.0  1
1  19675537.0    400651812.0   220824.0  8173548.0  463216.0  1
2  12087258.0    358313688.0   774786.0  8589278.0  580867.0  1
3  21531200.0    351625970.0   558400.0   377016.0  362261.0  1
4  73803814.0    324825780.0  6798618.0   131792.0  956052.0  1

In [6]:
# pegando o shape da tabela
dados.shape

(89, 6)

In [7]:
# calculando a distribuicao de clientes que adquiriram o consorcio
dados['y'].value_counts()

1    49
0    40
Name: y, dtype: int64

In [9]:
import statsmodels.api as sm

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [10]:
# pegando apenas as features ou variables independientes
X = dados.drop('y', axis=1).copy()
X = sm.add_constant(X)

X.head()

   const    fundo_di  financiamento   poupanca    salario        cc
0    1.0   2953763.0    492379768.0    64868.0  9094336.0  539057.0
1    1.0  19675537.0    400651812.0   220824.0  8173548.0  463216.0
2    1.0  12087258.0    358313688.0   774786.0  8589278.0  580867.0
3    1.0  21531200.0    351625970.0   558400.0   377016.0  362261.0
4    1.0  73803814.0    324825780.0  6798618.0   131792.0  956052.0

In [11]:
# pegando apenas a variável dependente
y = dados['y'].copy()

Criando o Modelo

In [12]:
modelo = sm.Logit(y, X).fit()

Optimization terminated successfully.
         Current function value: 0.218736
         Iterations 8

In [13]:
print(modelo.summary())

                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                   89
Model:                          Logit   Df Residuals:                       83
Method:                           MLE   Df Model:                            5
Date:                Fri, 06 Nov 2020   Pseudo R-squ.:                  0.6821
Time:                        01:08:44   Log-Likelihood:                -19.467
converged:                       True   LL-Null:                       -61.234
Covariance Type:            nonrobust   LLR p-value:                 1.528e-16
=================================================================================
                    coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------
const            -3.4499      1.352     -2.552      0.011      -6.099      -0.800
fundo_di      -4.269e-08   2.47e-08     -1.728      0.084   -9.11e-08    5.72e-09
financiamento  5.792e-09   4.42e-09      1.310      0.190   -2.87e-09    1.45e-08
poupanca       6.478e-07   2.43e-07      2.669      0.008    1.72e-07    1.12e-06
salario        1.026e-06   2.64e-07      3.887      0.000    5.09e-07    1.54e-06
cc             6.791e-07   1.03e-06      0.660      0.509   -1.34e-06     2.7e-06
=================================================================================

In [14]:
X.head()

   const    fundo_di  financiamento   poupanca    salario        cc
0    1.0   2953763.0    492379768.0    64868.0  9094336.0  539057.0
1    1.0  19675537.0    400651812.0   220824.0  8173548.0  463216.0
2    1.0  12087258.0    358313688.0   774786.0  8589278.0  580867.0
3    1.0  21531200.0    351625970.0   558400.0   377016.0  362261.0
4    1.0  73803814.0    324825780.0  6798618.0   131792.0  956052.0

In [15]:
modelo.predict(X)

0     0.999878
1     0.998965
2     0.999597
3     0.207852
4     0.615280
        ...
84    0.010103
85    0.111276
86    0.094947
87    0.153116
88    0.088635
Length: 89, dtype: float64

# Scorando a Base

In [16]:
dados['Probabilidade'] = modelo.predict(X)

In [17]:
dados

      fundo_di  financiamento   poupanca  ...         cc  y  Probabilidade
0    2953763.0    492379768.0    64868.0  ...   539057.0  1       0.999878
1   19675537.0    400651812.0   220824.0  ...   463216.0  1       0.998965
2   12087258.0    358313688.0   774786.0  ...   580867.0  1       0.999597
3   21531200.0    351625970.0   558400.0  ...   362261.0  1       0.207852
4   73803814.0    324825780.0  6798618.0  ...   956052.0  1       0.615280
..         ...            ...        ...  ...        ... ..            ...
84  61944100.0      8363686.0    16291.0  ...    26814.0  1       0.010103
85    322387.0      6620688.0     7739.0  ...  1777763.0  0       0.111276
86    354890.0      6436053.0     3637.0  ...  1377659.0  0       0.094947
87    309015.0      6347512.0     6538.0  ...  2321400.0  0       0.153116
88    401844.0      5838863.0     9061.0  ...  1045783.0  0       0.088635

[89 rows x 7 columns]

In [18]:
dados['Label'] = np.where(dados['Probabilidade'] >= 0.5, 1, 0)

In [19]:
dados

      fundo_di  financiamento   poupanca  ...  y  Probabilidade  Label
0    2953763.0    492379768.0    64868.0  ...  1       0.999878      1
1   19675537.0    400651812.0   220824.0  ...  1       0.998965      1
2   12087258.0    358313688.0   774786.0  ...  1       0.999597      1
3   21531200.0    351625970.0   558400.0  ...  1       0.207852      0
4   73803814.0    324825780.0  6798618.0  ...  1       0.615280      1
..         ...            ...        ...  ... ..            ...    ...
84  61944100.0      8363686.0    16291.0  ...  1       0.010103      0
85    322387.0      6620688.0     7739.0  ...  0       0.111276      0
86    354890.0      6436053.0     3637.0  ...  0       0.094947      0
87    309015.0      6347512.0     6538.0  ...  0       0.153116      0
88    401844.0      5838863.0     9061.0  ...  0       0.088635      0

[89 rows x 8 columns]

In [20]:
# matriz de confusão
matriz_de_confusao = pd.crosstab(index=dados['y'], columns=dados['Label'])
matriz_de_confusao

Label   0   1
y
0      37   3
1       4  45

In [21]:
matriz_de_confusao.sum().sum()

89

In [22]:
# acurácia
(37 + 45) / matriz_de_confusao.sum().sum()

0.9213483146067416

# Scorando um cliente novo

In [23]:
teste = pd.DataFrame({
    'const': [1.0],
    'fundo_di': [0],
    'financiamento': [35000.0],
    'poupanca': [70000.0],
    'salario': [350000.0],
    'cc': [53057.0]
})
teste

   const  fundo_di  financiamento  poupanca   salario       cc
0    1.0         0        35000.0   70000.0  350000.0  53057.0

In [24]:
modelo.predict(teste).values[0]

0.04700767345703363

In [25]:
print(f"A probabilidade desse cliente adquirir um consórcio é de {modelo.predict(teste).values[0]}")

A probabilidade desse cliente adquirir um consórcio é de 0.04700767345703363

# Vamos remover a variavel com o paior p-value: cc

In [26]:
X = X.drop('cc', axis=1)

modelo = sm.Logit(y, X).fit()
print(modelo.summary2())

Optimization terminated successfully.
         Current function value: 0.221020
         Iterations 8
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.679
Dependent Variable: y                AIC:              49.3416
Date:               2020-11-06 01:13 BIC:              61.7848
No. Observations:   89               Log-Likelihood:   -19.671
Df Model:           4                LL-Null:          -61.234
Df Residuals:       84               LLR p-value:      3.7866e-17
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
-----------------------------------------------------------------
                   Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
-----------------------------------------------------------------
const             -2.9477   1.0752 -2.7415 0.0061 -5.0550 -0.8403
fundo_di          -0.0000   0.0000 -2.0337 0.0420 -0.0000 -0.0000
financiamento      0.0000   0.0000  1.2402 0.2149 -0.0000  0.0000
poupanca           0.0000   0.0000  3.0022 0.0027  0.0000  0.0000
salario            0.0000   0.0000  3.9676 0.0001  0.0000  0.0000
=================================================================

In [27]:
X = X.drop('financiamento', axis=1)

modelo = sm.Logit(y, X).fit()
print(modelo.summary2())

Optimization terminated successfully.
         Current function value: 0.229640
         Iterations 8
                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.666
Dependent Variable: y                AIC:              48.8759
Date:               2020-11-06 01:13 BIC:              58.8304
No. Observations:   89               Log-Likelihood:   -20.438
Df Model:           3                LL-Null:          -61.234
Df Residuals:       85               LLR p-value:      1.3976e-17
Converged:          1.0000           Scale:            1.0000
No. Iterations:     8.0000
------------------------------------------------------------------
               Coef.   Std.Err.     z     P>|z|    [0.025   0.975]
------------------------------------------------------------------
const         -2.3707    0.8776  -2.7013  0.0069  -4.0908  -0.6506
fundo_di      -0.0000    0.0000  -2.1423  0.0322  -0.0000  -0.0000
poupanca       0.0000    0.0000   3.1708  0.0015   0.0000   0.0000
salario        0.0000    0.0000   4.0537  0.0001   0.0000   0.0000
=================================================================

# Normalizando as Variáveis

In [28]:
X.describe()

       const      fundo_di      poupanca       salario
count   89.0  8.900000e+01  8.900000e+01  8.900000e+01
mean     1.0  3.014138e+07  1.977427e+06  3.435489e+06
std      0.0  2.495285e+07  3.162301e+06  2.930526e+06
min      1.0  3.090150e+05  3.637000e+03  1.200000e+05
25%      1.0  1.277208e+07  1.287100e+05  1.120055e+06
50%      1.0  2.032432e+07  3.757220e+05  2.228461e+06
75%      1.0  4.640226e+07  2.370538e+06  5.856501e+06
max      1.0  8.972397e+07  1.387173e+07  9.094336e+06

In [29]:
X['fundo_di_normalizado'] = (X['fundo_di'] - X['fundo_di'].mean()) / X['fundo_di'].std()
X['poupanca_normalizado'] = (X['poupanca'] - X['poupanca'].mean()) / X['poupanca'].std()
X['salario_normalizado'] = (X['salario'] - X['salario'].mean()) / X['salario'].std()

In [30]:
X.head()

   const    fundo_di  ...  poupanca_normalizado  salario_normalizado
0    1.0   2953763.0  ...             -0.604800             1.931000
1    1.0  19675537.0  ...             -0.555482             1.616795
2    1.0  12087258.0  ...             -0.380306             1.758657
3    1.0  21531200.0  ...             -0.448732            -1.043660
4    1.0  73803814.0  ...              1.524583            -1.127339

[5 rows x 7 columns]

In [31]:
X.describe()

       const      fundo_di  ...  poupanca_normalizado  salario_normalizado
count   89.0  8.900000e+01  ...          8.900000e+01         8.900000e+01
mean     1.0  3.014138e+07  ...         -7.609394e-17         7.484650e-18
std      0.0  2.495285e+07  ...          1.000000e+00         1.000000e+00
min      1.0  3.090150e+05  ...         -6.241625e-01        -1.131363e+00
25%      1.0  1.277208e+07  ...         -5.846112e-01        -7.901086e-01
50%      1.0  2.032432e+07  ...         -5.064997e-01        -4.118810e-01
75%      1.0  4.640226e+07  ...          1.243118e-01         8.261356e-01
max      1.0  8.972397e+07  ...          3.761281e+00         1.931000e+00

[8 rows x 7 columns]

In [32]:
X_normalizado = X.drop(['fundo_di', 'poupanca', 'salario'], axis=1)
X_normalizado.head()

   const  fundo_di_normalizado  poupanca_normalizado  salario_normalizado
0    1.0             -1.089560             -0.604800             1.931000
1    1.0             -0.419425             -0.555482             1.616795
2    1.0             -0.723529             -0.380306             1.758657
3    1.0             -0.345058             -0.448732            -1.043660
4    1.0              1.749798              1.524583            -1.127339

In [33]:
modelo = sm.Logit(y, X_normalizado).fit()
print(modelo.summary2())

Optimization terminated successfully.
         Current function value: 0.229640
         Iterations 8
                           Results: Logit
====================================================================
Model:               Logit             Pseudo R-squared:  0.666
Dependent Variable:  y                 AIC:               48.8759
Date:                2020-11-06 01:15  BIC:               58.8304
No. Observations:    89                Log-Likelihood:    -20.438
Df Model:            3                 LL-Null:           -61.234
Df Residuals:        85                LLR p-value:       1.3976e-17
Converged:           1.0000            Scale:             1.0000
No. Iterations:      8.0000
--------------------------------------------------------------------
                      Coef.  Std.Err.    z    P>|z|   [0.025  0.975]
--------------------------------------------------------------------
const                 1.1073   0.5611  1.9734 0.0484  0.0075  2.2070
fundo_di_normalizado -1.1874   0.5542 -2.1423 0.0322 -2.2737 -0.1011
poupanca_normalizado  2.2701   0.7159  3.1708 0.0015  0.8669  3.6733
salario_normalizado   2.9793   0.7350  4.0537 0.0001  1.5388  4.4198
====================================================================

In [36]:
dados['Probalidade_Modelo_Normalizadas'] = modelo.predict(X_normalizado)
dados.head()

     fundo_di  financiamento  ...  Label_  Probalidade_Modelo_Normalizadas
0   2953763.0    492379768.0  ...       1                         0.998866
1  19675537.0    400651812.0  ...       1                         0.994298
2  12087258.0    358313688.0  ...       1                         0.998243
3  21531200.0    351625970.0  ...       0                         0.068427
4  73803814.0    324825780.0  ...       1                         0.295636

[5 rows x 11 columns]

In [37]:
dados['Label_Modelo_Normalizadas'] = np.where(dados['Probalidade_Modelo_Normalizadas'] >= 0.5, 1, 0)
dados.head()

     fundo_di  ...  Label_Modelo_Normalizadas
0   2953763.0  ...                          1
1  19675537.0  ...                          1
2  12087258.0  ...                          1
3  21531200.0  ...                          0
4  73803814.0  ...                          0

[5 rows x 12 columns]

In [38]:
# matriz de confusão
matriz_de_confusao = pd.crosstab(index=dados['y'], columns=dados['Label_Modelo_Normalizadas'])
matriz_de_confusao

Label_Modelo_Normalizadas   0   1
y
0                          37   3
1                           5  44

# Exercicio